<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /wooC/

  <!-- RewriteRule ^woo-api/(.*)$ https://www.petitpierre.net/$1 [P,L] -->

# 1. GESTION DU ROUTER REACT (Évite les erreurs 404 au refresh)

RewriteRule ^index\.html$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /wooC/index.html [L]
</IfModule>
